.jumbotron{
    
    
    background-color: #383838;
    text-align: left;
    
    
    
}

.display-1{
    
    
    
    color: snow;
    
    
}

.info{
    
    color: snow;
}

.left-j{
    
    color: snow;
    text-align: left;
    
    
}